#canvas {
  background-color: gray;
}
  body {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
    background: #eee;
  }

  canvas {
    border: 2px solid black;
  }
